@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.jp-RucioExtensionPanel {
    background-color: white;
}

.jp-icon-rucio {
    background-image: url("img/rucio-logo.svg");
}

.jp-logo-rucio {
    height: 28px;
    background-image: url("img/rucio-logo-horz.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.jp-icon-arrow-right {
    background-image: url("img/icon-arrow-right.svg");
}

.jp-icon-expand {
    background-image: url("img/icon-expand.svg");
}

.Popover-body {
    display: inline-flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.Popover-tipShape {
    fill: #ffffff;
}