.jp-RucioExtensionPanel {
    background-color: white;
}

.jp-icon-rucio {
    background-image: url("img/rucio-logo.svg");
}

.jp-logo-rucio {
    height: 28px;
    background-image: url("img/rucio-logo-horz.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.jp-icon-swap {
    background-image: url("img/icon-swap.svg");
}

.jp-icon-arrow-right {
    background-image: url("img/icon-arrow-right.svg");
}

.jp-icon-info {
    background-image: url("img/icon-info.svg");
}