name: Build

on:
  push:
    branches: master
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
       node-version: '10.x'
    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install Python dependencies
      run: |
        python -m pip install jupyterlab
        python -m pip install -r requirements.txt
    - name: Run Pytest
      run: pytest rucio_jupyterlab/tests/
    - name: Run Pylint
      run: pylint-fail-under --fail_under 8.5 rucio_jupyterlab/
    - name: Install JS dependencies
      run: jlpm
    - name: Run ESLint
      run: jlpm run eslint:check
    - name: Run Jest
      run: jlpm jest
    - name: Build the extension
      run: |
        pip install .
        jupyter lab build
        jupyter serverextension list 1>serverextensions 2>&1
        cat serverextensions | grep "rucio_jupyterlab.*OK"
        jupyter labextension list 1>labextensions 2>&1
        cat labextensions | grep "rucio-jupyterlab.*OK"

        python -m jupyterlab.browser_check
  docker:
    name: Build Docker image
    if: github.event_name == 'push'
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Publish to Registry
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: docker.pkg.github.com
        repository: didithilmy/rucio-jupyterlab/dev
        tag_with_ref: true
  publish:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    needs: build
    name: Publish extension to PyPI
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install node
      uses: actions/setup-node@v1
      with:
       node-version: '10.x'
    - name: Install build requirements
      run: >-
        python -m
        pip install
        pep517 jupyter_packaging
        --user
    - name: Build a binary wheel and a source tarball
      run: >-
        python -m
        pep517.build
        --source
        --binary
        --out-dir dist/
        .
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.pypi_password }}
        skip_existing: true