name: Test

on:
  push:
    branches: master
  pull_request:
    branches: '*'
  workflow_dispatch:
  workflow_call:

jobs:
  Test:
    name: Test
    strategy:
      matrix:
        python-version: ["3.9", "3.11", "3.12"]
        node-version: ["18.x", "20.x"]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
        
      - name: Setup firefox
        uses: browser-actions/setup-firefox@latest  
        
      - name: Custom Setup
        uses: ./.github/actions/setup
        
      - name: Test
        uses: ./.github/actions/test
        
      - name: Build
        uses: ./.github/actions/build-ext
        
      - name: Post Test
        env:
            JLAB_BROWSER_TYPE: firefox
        uses: ./.github/actions/post-test

  Build-docker:
    needs: [Test]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.10.0

      - name: Log into the Docker Hub
        id: login
        uses: docker/login-action@v3.4.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Extract metadata for the Docker image
        id: metadata
        uses: docker/metadata-action@v5.7.0
        with:
          tags: |
            type=ref,event=branch
          images: rucio/jupyterlab

      - name: Build and push the Docker image
        uses: docker/build-push-action@v6.18.0
        id: docker_build
        with:
          context: .
          file: ./docker/container/Dockerfile
          push: true
          tags: ${{ steps.metadata.outputs.tags }}
          labels: |
            org.opencontainers.image.created=(date +'%Y-%m-%dT%H:%M:%SZ')
            org.opencontainers.image.url=https://github.com/rucio/jupyterlab-extension
            org.opencontainers.image.title=rucio-jupyterlab
            org.opencontainers.image.description=JupyterLab extension for Rucio
            org.opencontainers.image.version=${{ steps.metadata.outputs.tags }}

