name: Test

on:
  push:
    branches: master
  pull_request:
    branches: '*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Setup pip cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-3.9-${{ hashFiles('package.json') }}
          restore-keys: |
            pip-3.9-
            pip-
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Setup yarn cache
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-
      - name: Install Python dependencies
        run: |
          python -m pip install -U jupyterlab~=3.1 check-manifest
          python -m pip install -r requirements.txt
      - name: Install JS dependencies
        run: jlpm
      - name: Run ESLint
        run: jlpm run eslint:check
      - name: Run Jest
        run: jlpm jest
      - name: Run Pytest
        run: pytest rucio_jupyterlab/tests/
      - name: Run Pylint
        run: pylint --fail-under=8.5 rucio_jupyterlab/
      - name: Install Node (for Playwright)
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - name: Install Playwright
        run: npx playwright install 
      - name: Build the extension
        run: |
          set -eux
          python -m pip install .
          jupyter server extension list 2>&1 | grep -ie "rucio_jupyterlab.*OK"
          jupyter labextension list 2>&1 | grep -ie "rucio-jupyterlab.*OK"
          python -m jupyterlab.browser_check

          check-manifest -v
